<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加商品</title>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body>
    <div th:replace="index::header"></div>
    <div class="content">
        <form action="/item/add" method="post" enctype="multipart/form-data">
            <p>
                商品分类：
                <select id="level1">
                    <option value="">一级分类</option>
                </select>
                <select id="level2">
                    <option value="">二级分类</option>
                </select>
                <select id="level3" name="categoryId">
                    <option value="">三级分类</option>
                </select>
            </p>
            <p>
                商品名称：<input type="text" name="name">
            </p>
            <p>
                商品单价：<input type="text" name="price">
            </p>
            <p>
                商品库存：<input type="text" name="stock">
            </p>
            <p>
                商品图片1：<input type="file" name="productImage">
            </p>
            <p>
                商品图片2：<input type="file" name="productImage">
            </p>
            <p>
                商品图片3：<input type="file" name="productImage">
            </p>
            <p>
                商品图片4：<input type="file" name="productImage">
            </p>
            <p>
                商品图片5：<input type="file" name="productImage">
            </p>
            <p>
                详情描述：
                <textarea name="detail" rows="10" cols="100"></textarea>
            </p>
            <p>
                <input type="submit" value="保存">
            </p>
        </form>
    </div>
    <div th:replace="index::footer"></div>

    <script th:src="@{/scripts/jquery-3.3.1.js}"></script>
    <script th:src="@{/scripts/item.js}"></script>
</body>
</html>