<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.mvcdemo.mapper.UserMapper">

    <select id="selectByUsername" resultType="user">
        select
            id,
            username,
            password,
            email,
            mobile,
            create_time as createTime
        from user
        where username = #{username}
    </select>

    <select id="selectAll" resultType="user">
        select
            id,
            username,
            password,
            email,
            mobile,
            create_time as createTime
        from user
    </select>

    <select id="selectById" resultType="user">
        select
            id,
            username,
            password,
            email,
            mobile,
            create_time as createTime
        from user
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into user values(null, #{username}, #{password}, #{email}, #{mobile}, now())
    </insert>

    <update id="update" parameterType="user">
        update user set
            username = #{username},
            password = #{password},
            email = #{email},
            mobile = #{mobile}
        where id = #{id}
    </update>

</mapper>